<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Revisão</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Página de Revisão</h1>
        
        <% for (var n=0; n<resultado.length;n++){%>
        <h4 class="text-center">Nome: <%=resultado[0].nome%></h4>
        <h4 class="text-center">Turma: <%=resultado[0].turma%></h4>
        <h4 class="text-center">Disciplina: <%=resultado[0].disciplina%></h4>
        <%}%>

        <form action="" method="post" class="form-control">
            <h4 class="text-center">Cadastro</h4>
            
            <input type="text" name="nome" placeholder="Nome" class="form-control" id="">
            <input type="text" name="turma" placeholder="Turma" class="form-control" id="">
            <input type="text" name="disciplina" placeholder="Disciplina" class="form-control" id="">
    
            <input type="submit" value="Salvar" class="btn btn-outline-danger form-control">
    
        </form>
    </div>
</body>
</html>